.apple
{
  width: 300px;
  height: 750px;
  position: fixed;

}
.apple1{
  color: black;
  margin-left: 600px;
}
.apple2{
  color: black;
  margin-left: 600px;
  margin-right: 50px;
}
.apple3{
  color: black;
  margin-left: 600px;
}
.apple4{
  color: black;
  margin-left: 600px;
  
}
.apple8{
  color: black;
  margin-left: 600px;
}

.apple10{
  margin-left: 600px;
}
.ap{
  left: 90px;
  position: fixed;

}